<!DOCTYPE HTML>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <base href="../static/">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="css/usuario.css?v=1.x">
        <link rel="stylesheet" href="css/buscarPedido.css?v=1.x">
        <link rel="stylesheet" href="css/agregarPedido.css?v=1.x">
        <script src="js/usuario.js"></script>
    </head>
    <body>
        <div id= "cuerpo">
            <div id="buscar">
                <div class="button" onclick="toggleScreen()"><div>Agregar</div></div>
                <form action="usuario/buscar" target="b_result" method="get">
                    <div class= "img">
                        <img src="img/search.svg" alt="">
                    </div>
                    <div class="input">
                        <input type="text" name="buscar" placeholder="Ingrese el código del pedido">
                    </div>
                    <div class="preguntar">
                        <button>BUSCAR</button>
                    </div>
                </form>

                <iframe src="" th:filed="b_result"></iframe>
            </div>
            <div id="line"></div>
            <div id="agregar" class="show"> <!--RECUERDA ELIMINAR LA CLASE SHOW AL FINAL-->
                <div class="button" onclick="toggleScreen()"><div>BUSCAR</div></div>
                <form action="#" th:action="@{usuario/pedido}" th:object="${usuario}" method="post">
                    
                    <input type="hidden" name="id" th:field="${usuario.id}" value="12"><br>
                    <p>Nombre</p>
                    <input type="text" name="nombre" th:filed="${usuario.nombre}" value="GOL"><br>
                    <p>Email</p>
                    <input type="text" name="email" th:filed="${usuario.email}"><br>
                    <p>Teléfono</p>
                    <input type="text" name="telefono" th:filed="${usuario.telefono}"><br>
                    <p>Dirección</p>
                    <input type="text" name="direccion" th:filed="${usuario.direccion}"><br>
                    
                    <div id="movimientosContenedor" >
                    </div>

                    <button type="button" onclick="agregarFila()">Agregar Pedido</button>
                    <input type="submit" value="si"><br>
                </form>
                    
                </form>
            </div>
        </div>
    </body>
</html>