#agregar{
    background-color: #fff;
    border: 1px solid;

    clip-path: polygon(
        100% 0%, 
        100% 0%, 
        100% 100%, 
        100% 100% 
    );

    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    .button{
        top: 10px;
        right: 10px;
        background-color: #cc6119;
        height: 1.4em;
        width:11em;
        transition: background-color .5s;
        clip-path: polygon(
            100% 100%,
            55% 100%,
            49% 50%,
            43% 50%,
            49% 100%,
            39% 100%,
            33% 50%,
            39% 0%,
            49% 0%,
            43% 50%,
            49% 50%,
            55% 0%,
            100% 0%,
            94% 50%
        );
        cursor: pointer;
        user-select: none;
        div{
            font-size: .7em;
            width: fit-content;
            height: fit-content;
            top: .35em;
            right: 2em;
            color: #fff;
        }
    }
    .button:hover{
        background-color: #eb701e;
    }
    
    form{
        top: calc(10px);

        input[type=text]{
            height: 2em;
            width: 30%;
            border-radius: .5em .5em .5em .5em;
            border: 0px;
        }

        input[name=nombre]{
            background-color: #eb701e;
        }
        input[name=email]{
            background-color: #eb701e;
        }
        input[name=telefono]{
            background-color: #eb701e;
        }
        input[name=direccion]{
            background-color: #eb701e;
        }
        #movientosContenedor{

        }
        button[type=button]{
            width: 10%;
            height: 10%;
        }
        input[type=submit]{
            width: 10%;
            height: 10%;
        }
    }
}

#agregar.show{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}