
.screen#agregar{

    transition: clip-path .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    background-color: #202020;

    .target{

        background-color: #424242;

        #nuevoPedido{
            display: flex;
            flex-flow: row wrap;

            *{ 
                position:relative;
                margin-bottom: 20px;
            }
            div>div.text{
                font-size: 3vh;
                font-family: 'Roboto', sans-serif;
                color: #e9e9e9;
                margin-bottom: 5px;
            }
            div>input{
                width: 80%;
                margin-bottom: 0;
            }
            .uname{
                flex-basis: 50%;
            }
            .utele{
                flex-basis: 50%;
            }
            .uemai{
                flex-basis: 50%;
            }
            .udire{
                flex-basis: 100%;
            }
            .tablaMovimientos{
                flex-basis: 100%;
                *{
                    margin-bottom: 0;
                }
                #movimientosLista{
                    left: 0%;
                    table-layout: fixed;
                    width: 90%;
                    left: 5%;
        
                    thead>tr{
                        th:nth-child(1){ width: 65%;}
                        th:nth-child(2){ width: 10%;}
                        th:nth-child(3){ width: 15%;}
                        th:nth-child(4){ width: 10%;}
                    }
                    tbody>tr>td{
                        overflow: hidden;
                        input{
                            width: 100%;
                        }
                    }
                }
            }
            #meEstoyQuedandoSinIdeas{
                display: none;
            }
                
        }
    }

}
#agregar.screen.show{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
#agregar.screen:not(.show){
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}