
.screen#buscar{
    background-color: #f0f0f0;


    .target{
        background-color: inherit;
        font-family: 'Roboto', sans-serif;

        .title{
            color: #34515a;
        }

        #search{
            position: relative;

            form{
                margin-top: 20px;
                position: relative;
                display: flex;
                border-radius: .9em;
                box-shadow: 1px 4px 5px #bbbebb;

                *{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    height: 2.5em;
                    border: 0;
                    background: 0;
                    font-size: 1vw;
                }
                .img{
                    flex: 1 1;
                    border-radius: .9em 0 0 .9em;
                    background-color: #ecf5ec;
                    transition: .3s;
                    img{
                        height: 1.5em;
                    }
                }
                .input{
                    flex: 5 1;
                    background-color: #ecf5ec;
                    transition: .3s;
                    input{
                        width: 100%;
                        padding-left: 10px;
                        outline: none; /*para ocultar el la linea del borde que aparece al usar un input*/
                        caret-color: transparent;  /*para ocultar el cursor*/
                    }
                }
                .preguntar{
                    flex: 3 1;
                    background-color: #3b6978;
                    border-radius: 0 .9em .9em 0;
                    transition: background-color .5s;
                    cursor: pointer;
                    button {
                        font-family:'Poppins', sans-serif;
                        justify-content: center;
                        cursor: pointer;
                        height: 100%;
                        color: #fff;
                    }
                }
                .preguntar:hover {
                    background-color: #213a42 ;
                };
            }
            form:focus-within{
                .input, .img { background-color: #e6e6e6;}
            }
        }

        #resultados{
            /* border-radius: 20px;
            border: 1px solid; */

            margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;
            display: none;

            .pedidosData{
                border-radius: 10px;
                background-color: #e9e9e9;

                padding-top: 5px;
                padding-bottom: 5px;

                height: 150px;
                display: flex;
                flex-flow: row wrap;
                align-content: stretch;
                margin-bottom: 30px;

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    .text{
                        color: #3b6978;
                        font-weight: bold;
                        text-align: center;
                    }
                    .query{
                        text-align: center;
                    }
                }

                .info:nth-child(1){
                    flex: 1 1 50%;
                };
                .info:nth-child(2){
                    flex: 1 1 50%;
                };
                .info:nth-child(3){
                    flex: 1 1 50%;
                };
                .info:nth-child(4){
                    flex: 1 1 50%;
                }
    
            }

            table {
                width: 100%;
                margin: 0 auto;
                border-collapse: collapse;
                box-shadow: 0 4px 8px #0000001e;
                background-color: #fff;

                thead {
                    font-family:'Poppins', sans-serif;
                    background-color: #3b6978;
                    color: white;
                }

                th, td {
                    padding: 12px 15px;
                    text-align: center;
                    border: 1px solid #ddd;
                }

                tbody tr:nth-child(even) {
                    background-color: #f9f9f9;
                }

                tbody tr:hover {
                    background-color: #f1f1f1;
                }

                caption {
                    font-size: 1.5em;
                    margin-bottom: 10px;
                    color: #333;
                }
            }
        }

    }
}