
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

/* Menú lateral */
.sidebar {
    width: 10vw;
    background-color: #333a4d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.sidebar a {
    text-decoration: none;
    color: white;
    margin: 10px 0;
    font-size: 1em;
    transition: background-color 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar a:hover {
    background-color: #44576e;
}

/* Sección principal */
.main-content {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333a4d;
    color: white;
}

.table-placeholder {
    text-align: center;
    color: #888;
    font-size: 1.2em;
}