<!DOCTYPE HTML>
<html xmlns="https://www.thymeleaf.org">
    <head>
        <base href="../static/">
        <link rel="stylesheet" href="css/usuario.css?v=1.x">
        <script src="js/usuario.js"></script>
    </head>
    <body>
        <div id= "cuerpo">
            <div id="buscar">
                <div class="button" onclick="toggleScreen()"><div>AGREGAR</div></div>
                <form action="usuario/buscar" target="b_result" method="get">
                    <div class= "img">
                        <img src="img/search.svg" alt="">
                    </div>
                    <div class="input">
                        <input type="text" name="buscar" placeholder="Ingrese el código del pedido">
                    </div>
                    <div class="preguntar">
                        <button>BUSCAR</button>
                    </div>
                </form>

                <iframe frameborder="0" name="b_result"></iframe>
            </div>
            <div id="line"></div>
            <div id="agregar">
                <div class="button" onclick="toggleScreen()"><div>BUSCAR</div></div>
                <form action="usuario/agregar" target="_blank" method="post">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="half" name="nombre" style="left:5em">
                    <label for="apellido" style="left: calc(5em + 20% + 1em)">Apellido:</label>
                    <input type="text" class="half" style="left: calc(5em + 20% + 1em + 7em)" name="apellido">
                </form>
            </div>
        </div>
    </body>
</html>