
:root{
    --sep : 13%;
    --uColor : #59ca59;
    --eColor : #2acfc7;
    --elementColor : #fff;
}
* {
    margin: 0;
    padding: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.tarjeta{

    width: 30%;
    height: 30%;
    max-height: 400px;
    top: calc(35% - 1px);
    cursor: pointer;
    
    img {
        width: 40%;
        height: 40%;
        right: 30%;
        top : 10%;
    }
    div.texto_tarjeta {
        width: 100%;
        text-align: center;
        top: 65%;
        font-variant: small-caps;
        font-weight: bold;
    }
}
.tarjeta#usuario{
    border: 2px solid var(--uColor);
    left: var(--sep);
    color: var(--elementColor);
    background-color: var(--uColor);
}
.tarjeta#trabajador{
    border: 2px solid var(--eColor);
    right: var(--sep);
    color: var(--elementColor);
    background-color: var(--eColor);
}